.Control {
  margin: 20px;
  
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: blue 4px solid;
  border-radius: 8px;
  box-shadow: 5px 5px lightslategray;
  margin: 10px;
  padding: 5px;
  background-color: rgb(204, 200, 212);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 1px 2px blue;
}
.urlinput {
  width: 600px;
  background-color: rgb(168, 187, 207);
}

button {
  background-color: rgb(168, 187, 207);
  margin-top: 4px;
  margin-left: 50px;
  height: 30px;
  align-items: flex-end;
}

.JsonInput {
  background-color: rgb(168, 187, 207);
  width: 625px;
  margin-top: 4px;
}


