.HistoryItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 200px;
  max-width: 200px;
  overflow: scroll;
  border: solid black 1px;
  margin: 5px;
  padding: 5px;
  background-color: rgb(168, 187, 207);

  .url {
    flex-wrap: wrap;
    overflow: scroll;
  }
}
