.History {
  display: flex;
  position: relative;
  flex-direction: columns;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  border: blue 4px solid;
  border-radius: 8px;
  min-height: 33em;
  max-height: 33em;
  overflow: scroll;
  min-width: 3fr;
  margin: 10px;
  padding: 10px;
  background-color: rgb(204, 200, 212);
  box-shadow: 5px 5px lightslategray;

  h1 {
    flex-direction: column;
    font-size: large;
    text-shadow: 1px 1px 1px blue;
  }

  .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-right: 30px;
    
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

}
