.HistoryItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  border: solid black 1px;
  margin: 5px;
  padding: 5px;
  background-color: rgb(168, 187, 207);
}
